<footer class="row mt-2">
    <div class="cardfooter col">
      <div class="card-body">
        <a>FPT Polytechnic &copy; 2020, All rights reverved.</a> <br>
        <a>Hệ thống thi trắc nghiệm trực tuyến phiên bản chạy thử nghiệm</a>
        
      </div>
      <div class="col-12 col-sm-auto ">
        <a href="https://www.facebook.com/lebamy.pro" rel="noopener" target="_blank" title="Facebook"
            style="margin-right: 15px;text-decoration: none !important;">
            <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC1gY5bP_qvtaT0o7pGyf_UA?view_as=subscriber" rel="noopener" target="_blank"
            title="Youtube">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
    </div>
    </div>
  </footer>